<h1>The List of Pizzas We Have</h1>

{{#each this}}
	<a href="/pizzas/{{title}}">
	<h2>{{title}}</h2>
{{#if price}}
<h3>Price: {{price}} $</h3>
{{/if}}
{{#if ingredients}}
	<ul>
		{{#each ingredients}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}
{{#if imageFile}}
	<img src="/images/{{imageFile}}" alt="{{title}} Image">
{{/if}}
	</a>
{{/each}}

{{> ctaOrderNow}}