<section class="product-details">

<h1>{{title}}</h1>

{{#if price}}
<h2>Price: {{price}} $</h2>
{{else}}
<h2>Price upon request</h2>
{{/if}}

{{#if chef}}
<h3>Artist chef is {{chef}}</h3>
{{/if}}

{{#if isVeggie}}
<h3>This Pizza is Vegan</h3>
{{/if}}

{{#if ingredients}}
<ul class="ingredients-list">
	{{#each ingredients}}
	<li>{{this}}</li>
	{{/each}}
</ul>
{{/if}}

{{#if imageFile}}
<img src="/images/{{ imageFile }}" alt="{{ title }} Image">
{{/if}}

{{> ctaOrderNow}}


</section>